<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.lemonade</string>
    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/.local/bin/lemonade</string>
        <string>server</string>
        <string>--allow=127.0.0.1/32</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/lemonade.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/lemonade.log</string>
</dict>
</plist>
